<div class="container">

  <div class="row">

    <div class="col image__container">

      <div class="col">
        <img src="assets/img/new%20pics/DSC-0005.jpg" alt="picture" height="500ox" width="500px">
      </div>

    </div>

    <div class=" col product_description">
      <h1> palette de maquillage</h1>

      <p>
        Ensemble de maquillage etc etc
        N'oubliez pas de nous mentionnez avec #AjaKo
      </p>

      <h3>$125</h3>

      <button mat-raised-button color="primary" type="submit" routerLink="checkout">Payer</button>
      <button mat-raised-button color="accent" routerLink="signUp" >Ajouter au Panier</button>

    </div>

  </div>

</div>
