<div class="container">

  <div class="row">

    <div class="col image__container">

      <div class="col">
        <img src="assets/img/new%20pics/DSC-0005.jpg" alt="picture" height="500ox" width="500px">
      </div>

    </div>

    <div class=" col product_description">
      <h1> palette de maquillage</h1>

      <p>
        Ensemble de maquillage etc etc
        N'oubliez pas de nous mentionnez avec #AjaKo
      </p>

      <h3>$125</h3>

      <button mat-raised-button color="primary" type="submit" routerLink="checkout">Payer</button>
      <button mat-raised-button color="accent" routerLink="signUp" >Ajouter au Panier</button>

    </div>

  </div>

  <div class=" row review__container">

    <div >
      <h2>Ecrivez une review du produit</h2>
    </div>

     <form [formGroup]="ReviewForm" >
       <mat-form-field class="form-field" appearance="outline">
         <mat-label>Nom d'utilisateur</mat-label>
         <input matInput formControlName="username" required>
       </mat-form-field>

       <mat-form-field class="form-field" appearance="outline">
         <mat-label>review</mat-label>
         <input matInput formControlName="review" required>
       </mat-form-field>

       <button mat-raised-button color="primary" type="submit">Ajouter Review</button>
       <button mat-raised-button color="accent" routerLink="signUp"  type="button">Annuler</button>
     </form>

  </div>

</div>
