
<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Text Example</h1>
      <p class="lead text-muted">Une grande catégories de produit pour vos besoins</p>
    </div>
  </div>
</section>

<div class="py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">

        <img src="assets/img/5ce9006e-2f6f-4f05-8ab8-32361b8ae0ee.jpg" alt=""
             width="100%" height="225"/>

        <div class="card-body" style="align-content: center">
          <p class="card-text" >
            Maquillage de qualité superieur
          </p>

          <p class="card-text price">
            $1000000
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Acheter</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="assets/img/5ce9006e-2f6f-4f05-8ab8-32361b8ae0ee.jpg" alt=""
             width="100%" height="225"/>

        <div class="card-body" style="align-content: center">
          <p class="card-text" >
            Maquillage de qualité superieur
          </p>

          <p class="card-text price">
            $1000000
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Acheter</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="assets/img/5ce9006e-2f6f-4f05-8ab8-32361b8ae0ee.jpg" alt=""
             width="100%" height="225"/>

        <div class="card-body" style="align-content: center">
          <p class="card-text" >
            Maquillage de qualité superieur
          </p>

          <p class="card-text price">
            $1000000
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Acheter</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="assets/img/5ce9006e-2f6f-4f05-8ab8-32361b8ae0ee.jpg" alt=""
             width="100%" height="225"/>

        <div class="card-body" style="align-content: center">
          <p class="card-text" >
            Maquillage de qualité superieur
          </p>

          <p class="card-text price">
            $1000000
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Acheter</button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="assets/img/5ce9006e-2f6f-4f05-8ab8-32361b8ae0ee.jpg" alt=""
             width="100%" height="225"/>

        <div class="card-body" style="align-content: center">
          <p class="card-text" >
            Maquillage de qualité superieur
          </p>

          <p class="card-text price">
            $1000000
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">Acheter</button>
            </div>
          </div>
        </div>

      </div>
    </div>

      <div class="col">
        <div class="card shadow-sm">
          <img src="assets/img/5ce9006e-2f6f-4f05-8ab8-32361b8ae0ee.jpg" alt=""
               width="100%" height="225"/>

          <div class="card-body" style="align-content: center">
            <p class="card-text" >
              Maquillage de qualité superieur
            </p>

            <p class="card-text price">
              $1000000
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Acheter</button>
              </div>
            </div>
          </div>

        </div>
      </div>


</div>
  </div>
</div>
