/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /*===== Colors =====*/
  --first-color: #F2A20C;
  --white-color: #E9EAEC;
  --dark-color: #272D40;
  --dark-color-lighten: #F2F5FF;
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
}


*{
  box-sizing: border-box;
}
html, body {
  margin:0;
  padding: 0;
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


body{
  scroll-behavior: smooth;
}

/* ===== FOOTER =====*/
.footer {
  background-color: black;
  color: #fff;
  text-align: center;
  font-weight: bold;
  transform: translateY(100%);
  padding: 100rem 10rem 2rem;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.footer__social {
  margin-bottom: 3rem;
}

.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}

.footer__copy {
  font-size: 1em;
}



